body {
    /*padding-top: 50px;*/
    /*padding-bottom: 20px;*/
    background-color: #FFFAFA;
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* CLASSES E IDS PARA A BARRA LATERAL DO LAYOUT */
.wrapper {
    display:flex;
    width: 100%;
    align-items: stretch;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {

    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#content {
    min-height: 100vh;
    width:100%;
}

/* SIDE BAR CSS */

#sidebar {   
    background: #5a2951;
    color: #FFF;
    transition: all 0.3s;
    min-width: 225px;
    max-width: 225px;
    height: 100vh;
}


    #sidebar.active {
        margin-left: -225px;
    }


    #sidebar .sidebar-header {
        padding: 20px;
        background: #5a2951;
    }

    /*#sidebar ul.components {
        padding: 20px 0;
        border-bottom: 1px solid #CC76BC;
        color: #CC76BC;
    }*/

    #sidebar ul p {
        color: #1b213b;
        padding: 10px;
    }

    #sidebar ul li a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
        color: #CC76BC;
    }

        #sidebar ul li a:hover {
            color: #fff;
            background-color: #A65D98;
        }

    #sidebar ul li.active > a, a[aria-expanded="true"] {
        color: #CC76BC;
        background-color: #401D39;
        /*border-top: 1px solid #CC76BC;*/
        border-bottom: 1px solid #CC76BC;
    }

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #592950;
    color: #E3C044;
}

.navColor {
    width: 100%;
    background-color: #592950;
}


@media (max-width: 768px) {
    #sidebar {
        margin-left: -225px;
    }

        #sidebar.active {
            margin-left: 0;
        }
}


/** VIEWS **/

#menuLogin {
    padding-top:25vh;
    margin: auto;
    text-align: center;
    background-color: #5a2951;
    color: #FFF;
    height: 100vh;
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

#menuLoginForm {

    width:300px;
}

.loginForm {
    border: 1px solid black;
    display:block;
}

#ticketsIndex {
    /*max-width:400px;*/
    border: 1px groove black;
}

#editaPasswordForm {  
    text-align: center;
    padding-top: 10vh;
}

.menuEditaPassword {
    width: 300px;
    margin: auto;
}