body {
    /*padding-top: 50px;*/
    /*padding-bottom: 20px;*/
    /*background-color: #FFFAFA;*/
    background-color: rgb(106, 74, 89);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    font-family: 'Raleway',Arial, Helvetica, sans-serif;
}


.background {
    display: block;
    position: relative;    
}

    .background::after {
        content: "";
        background-image: url("../img/bg_paper.png");
        opacity:0.90;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        min-height: 94vh;
        position: absolute;
        background-repeat:repeat;
        z-index: -1;
    }

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.logo {
    color:wheat;
    font-size:20px;
    padding:25px;
}

    .logo:hover {
        color: wheat;
    }

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* CLASSES E IDS PARA A BARRA LATERAL DO LAYOUT */
.wrapper {
    display:flex;
    width: 100%;
    align-items: stretch;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {

    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#content {
    min-height: 100vh;
    width:100%;
}

/* SIDE BAR CSS */

#sidebar {
    background: #55284d;
    color: #FFF;
    transition: all 0.3s;
    min-width: 225px;
    max-width: 225px;
    height: 100vh;
    /*box-shadow: inset 0 0 5rem rgba(166, 93, 152, 0.43);*/
}

    #sidebar.active {
        margin-left: -225px;
    }

    #sidebar .sidebar-header {
        padding: 13px;
        background: #5a2951;
        box-shadow: inset 0 0 5rem rgba(166, 93, 152, 0.53) !important;
    }

    #sidebar ul.components {
        padding: 20px 0;
        border-bottom: 1px solid #CC76BC;
        color: #CC76BC;
    }

    #sidebar ul p {
        color: #1b213b;
        padding: 10px;
    }

    #sidebar ul li a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
        color: #CC76BC;
    }

        #sidebar ul li a:hover {
            color: #fff;
            background-color: #A65D98;
        }

    #sidebar ul li.active > a, a[aria-expanded="true"] {
        color: #CC76BC;
        background-color: #401D39;
        /*border-top: 1px solid #CC76BC;*/
        border-bottom: 1px solid #CC76BC;
    }

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #592950;
    color: #E3C044;
}

.navColor {
    background-color: #592950;
    box-shadow: inset 0 0 5rem rgba(166, 93, 152, 0.53) !important; 
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -225px;
    }

        #sidebar.active {
            margin-left: 0;
        }
}

/** VIEWS **/

#menuLogin {
    padding-top: 25vh;
    margin: auto !important;
    text-align: center;
    background-color: #5a2951;
    color: #FFF;
    height: 100vh;
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

#menuLoginForm {
    width:300px;
}

.loginForm {
    border: 1px solid black;
    display:block;
}

#ticketsIndex {
    /*max-width:400px;*/
    /*border: 1px groove black;*/

    margin-top:20px;
}

#editaPasswordForm {  
    padding-top: 3vh;
}

.menuEditaPassword {
    width: 300px;
    margin: 0 auto;
}

#tabelaTickets {
    margin-top: 30px;
    background-color: rgb(186, 199, 174);
    border-radius: 10px;
    text-align: center;
    width:auto;
}

    #tabelaTickets td:nth-child(6) {
        width: 20%;
    }
    #tabelaTickets td:nth-child(6) {
        width: 15%;
    }


#tabelaEventos {
    margin-top: 30px;
    background-color: rgba(166, 93, 152, 0.20);
    border-radius: 10px;
    text-align: center;
    width:auto;
}

    #tabelaEventos td:nth-child(1), #tabelaEventos td:nth-child(6) {
        width: 5%;
    }

    #tabelaEventos td:nth-child(2) {
        width: 20%;
    }

    #tabelaEventos td:nth-child(3) {
        width: 10%;
    }

    #tabelaEventos td:nth-child(4), #tabelaEventos td:nth-child(5) {
        width: 15%;
    }

    #tabelaEventos td:nth-child(7) {
        width: 15%;
    }


.clickableCell {
}

    .clickableCell:hover {
        cursor: pointer;
    }

.btnHamburguer {
    background-color: rgba(166, 93, 152, 0.53);
   
}

#navbarBtn {
    display:flex;
    flex-flow:row wrap;
    justify-content:flex-end;
}



.filtros_ticket {
    border: 1px solid gray;
    display:block;
}

#criaTicket {
    padding-top:20px;
    margin:0 auto;
   
}

.descricaoTicket {
    max-width: 700px !important;
    display:flex;
}

#datasTicket {
    float:right;
    align-items: center;
    align-self:flex-end;
}

#btnsEditarTickets {
    margin-top:20px;
    padding-top:20px;
}

.btnOpcoesMenu {
    background-color: rgba(166, 93, 152, 0.53);
    color: #fff;
}

    .btnOpcoesMenu:hover {
        color: wheat;
    }

#estatisticasBasicasTickets .row .col{
       border:1px solid black;
       margin:4px;
}
estatisticasBasicasTickets

.caixaPr {
    width:50px;
}

#estatisticasBasicasTickets {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.estatisticasFlexItem {
    background: tomato;
    padding: 10px;
    width: 150px;
    height: 150px;
    color: white;
    text-align: center;
    font-weight:500;
    font-size:19px;
    margin: 10px;
}
